name: mayanforge-4.6.7

services:
  forge:
    env_file:
      - .env
      - path: .env-local
        required: false
    environment:
      - PIP_PREFER_BINARY=1
      - SSH_AUTH_SOCK=/ssh-agent
    image: ${MAYAN_FORGE_DOCKER_IMAGE_NAME:-mayanedms/mayanforge}:${MAYAN_FORGE_DOCKER_IMAGE_TAG:-4.6.7}
    network_mode: "host"
    restart: unless-stopped
    stdin_open: true
    tty: true
    user: "${HOST_UID}:${HOST_GID}"
    volumes:
      - ../:/workspace
      - $SSH_AUTH_SOCK:/ssh-agent
      # Optional: Mount host's PIP cache.
      # - ~/.cache/pip:/home/ubuntu/.cache/pip
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt
      - ~/.transifexrc:/.transifexrc
    working_dir: /workspace
